@font-face {
    font-family: 'Starjhol';
    src: url('../star_jedi/starjedi/Starjhol.ttf');
    src: url('../star_jedi/starjedi/Starjhol.ttf') format('truetype');
}


body {

  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  background-image: url('../img/space_flight.gif');
  background-repeat: no-repeat;
  background-size: 100% 850px;
}

#timer {
  color: white;
  text-align: right;
  font-size: 20px;
  margin-right:25px
}

.box {
  border: 2px solid white;
  margin-right: 25px;
  margin-left: 1072px;
  text-align: center;
}


h1 {
  font-family: "Starjhol";
  font-size: 60px;
  color: red;
  margin: 0px;

}

h2 {
  font-family: "Starjhol";
  font-size: 35px;
  color: red;
  margin: 0px;
}



.cell0 {
  background: url(../img/leah.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-image: center;
}
.cell1 {
  background: url(../img/chewie_model.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.cell2 {
  background: url(../img/hans_solo.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.cell3 {
  background: url(../img/st_in_toilet.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.cell4 {
  background: url(../img/luke_v_neck.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}
.cell5 {
  background: url(../img/st_shooting.jpg);
  background-size: 100% 100%;
  background-repeat: no-repeat;
}



.row1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.row2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}


.buttons {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin; 1em;

}
