@font-face {
    font-family: 'Starjhol';
    src: url('../star_jedi/starjedi/Starjhol.ttf');
    src: url('../star_jedi/starjedi/Starjhol.ttf') format('truetype');
}


body {

  font-family: sans-serif;
  font-size: 16px;
  text-align: center;
  background-image: url('../Img/spaceFlight.gif');
  background-repeat: no-repeat;
  background-size: 100% 850px;
}



.group1 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}

.group2 {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  flex-wrap: wrap;
}



/*#jawa0 {
  height: 150px;
  width: 50px;
}*/




h1 {
  font-family: "Starjhol";
  font-size: 50px;
  color: red;
}


.buttons {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin; 1em;

}
